.inputV {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inputV input {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    padding: 13px;
    background-color: rgb(241, 244, 248);
    border: none;
    border-radius: 8px;
    font-size: 17px;
}

