.container {
    padding: 20px;
    width: 100%;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

.container label {
    margin-bottom: -10px;
}
  






