@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  margin: 0px;
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}

h2 {
  margin: 0px;
  font-size: 26px;
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}

h3 {
  margin: 0px;
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}

p {
  margin: 0px;
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}

hr {
  margin: 0px
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}

.label {
  color: rgba(60, 60, 60, .6);
  font-size: 17px;
  font-weight: lighter;
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}

p {
  font-size: 17px;
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}

a:hover {
  color: #535bf2;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  min-height: 100vh;
  max-height: 100vh;
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}

.main {
  margin: auto;
  max-height: 100svh;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}
.error {
  color: red;
  font-family: "Monaco", monospace, "Courier New", Courier, monospace;
}

.pointer {
  cursor: pointer;
  color: #007AFF;
  font-weight: 500;

}

.back {
    width: 100%;
    text-align: left;
}

.w-50 {
  width: 50%;
}