# DATABASE
DB_NAME=my_app
DB_USER=postgres
DB_PASSWORD=password
DB_PORT=5432
DB_CONTAINER_NAME=my_app_postgres

# JsonWebToken
JWT_ACCESS_SECRET=SECRET123
JWT_REFRESH_SECRET=ANOTHER_SECRET123

# APP
PORT=3000
ASSET_URL=http://10.100.1.41:5173 # the address of the vite dev server

ENV=test // test or production

# IMPORTANT! IF YOU CHANGE THE DB VARIABLES ABOVE YOU MUST ALSO UPDATE THEM
# IN THIS STRING
DATABASE_URL="postgresql://postgres:password@localhost:5432/my_app?schema=public"