.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  animation: fade-in 1s forwards;
  width: 100%;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

/* Example tile styles */
.tile {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.tile h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.tile .label {
  font-size: 0.875rem;
  color: #888;
}


@keyframes fade-in {
  0% {
    opacity: 0.2;
    transform: translateY(50%);
  }

  100% {}
}

.budget {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
}

hr {
  border: 1px solid grey;
  width: 100%;
}

.balance {
  display: flex;
}

.balance section {
  width: 50%;
}

.dailyNotifications {
  max-height: 30vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dailyNotifications::-webkit-scrollbar {
  display: none;
}

.purchases {
  max-height: 30vh;
  overflow-y: auto;
}