.container {
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left {
    display: flex;
    flex-direction: column;

}

.right {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
}