.container {
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.right {
    text-align: right;
}
.icon {
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pointer{
    cursor: pointer;
}