.txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    background-color: rgb(241, 244, 248);
    border-radius: 8px;
    padding: 10px;
    border-width: 2px;
}

