.container {
    padding: 20px;
    width: 100%;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    width: 90vw;
    max-width: 600px;
    top: 45%;
    transform: translateY(-50%);
}

.container label {
    margin-bottom: -10px;
}
