
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    animation: fade-in 1s forwards
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

@keyframes fade-in {
    0% {
        opacity: .2;
        transform: translateY(50%);
    }
    100% {
    }
}